name: Monitor Bot

on:
  schedule:
    - cron: "*/5 * * * *" # check every 5 minutes
  workflow_dispatch:       # manual run

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Python setup
        uses: actions/setup-python@v5
        with: 
          python-version : "3.10"

      - name: Install deps
        run: pip install requests beautifulsoup4

      - name: Load previous caches
        run: | 
          if [ ! -f verra_cache.json ]; then echo "[]" > verra_cache.json; fi
          if [ ! -f plaza_cache.json ]; then echo "[]" > plaza_cache.json; fi

      - name: Run Verra bot
        env:
          BOT_EMAIL: ${{ secrets.BOT_EMAIL }}
          BOT_PASSWORD: ${{ secrets.BOT_PASSWORD }}
          BOT_TO: ${{ secrets.BOT_TO }}
          BOT_TO_2: ${{ secrets.BOT_TO_2 }}
        run: python verra_bot.py

      - name: Run Plaza bot
        env:
          BOT_EMAIL: ${{ secrets.BOT_EMAIL }}
          BOT_PASSWORD: ${{ secrets.BOT_PASSWORD }}
          BOT_TO: ${{ secrets.BOT_TO }}
          BOT_TO_2: ${{ secrets.BOT_TO_2 }}
        run: python plaza_bot.py

      - name: Save updated caches
        uses: EndBug/add-and-commit@v9
        with:
          add: |
            verra_cache.json
            plaza_cache.json
          message: "update caches"
          default_author: github_actions
      
      
